/* =================================================================== */
/* Celadon #56af8f
====================================================================== */


#navigation ul li a:hover, 
#navigation ul li:hover > a, 
#bolded-line, 
.button.gray:hover, 
.button.light:hover, 
.button.color, 
input[type="button"] {
	background: #56af8f;
        color: #fff !important;
}

.headline h3, .headline h4 {
border-bottom: 1px solid #56af8f;
}
#page-title h2 {
border-bottom: 2px solid #56af8f;
}

.entry span.meta small{
    background: #56af8f;
    border: 1px solid #56af8f;
    
}
a:hover, a:focus{color: #56af8f !important;}