<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->

    <head>

        <meta charset="utf-8">
        <title>akmalz</title>

        <!-- For Mobiles  -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/wide.css" id="layout">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/colors/default.css" id="colors">

        <!-- Java Script  -->
        <script src="js/jquery.js"></script>
        <script src="js/custom.js"></script>
        <script src="js/selectnav.js"></script>
        <script src="js/flexslider.js"></script>
        <script src="js/twitter.js"></script>
        <script src="js/fancybox.js"></script>
        <script src="js/isotope.js"></script>
        <script src="js/bootstrap.js"></script>

        <!-- Styles Switcher -->
        <link rel="stylesheet" type="text/css" href="css/switcher.css">
        <script src="js/switcher.js"></script>

    </head>
    <body>

        <!-- Wrapper Start -->
        <div id="wrapper" class="container-fluid">


            <!-- Header -->


            <div class="ie-dropdown-fix" >

                <!-- Header -->
                <div class="row-fluid" id="header">

                    <!-- Logo -->
                    <div class="span5">

                        <a href="#"><img src="images/logo.png" alt="logo" /></a>

                    </div>

                    <!-- Social / Contact -->
                    <div class="span4 pull-right">

                        <!-- Social Icons -->
                        <ul class="social-icons">
                            <li class="facebook"><a href="#">Facebook</a></li>
                            <li class="twitter"><a href="#">Twitter</a></li>
                            <li class="dribbble"><a href="#">Dribbble</a></li>
                            <li class="linkedin"><a href="#">LinkedIn</a></li>
                            <li class="pintrest"><a href="#">Pintrest</a></li>
                        </ul>



                        <!-- Contact Details -->
                        <div id="contact-top">
                            <ul>
                                <li><i class="icon-envelope"></i><a href="#">support@akmalz.com</a></li>
                                <li><i class="icon-user"></i>+1 123 456-789</li>
                            </ul>
                        </div>

                    </div>

                </div>
                <!-- Header / End -->

                <!-- Navigation -->
                <div id="navigation" class="margintop">
                    <ul id="nav">

                        <li><a href="index.html" >Home</a></li>

                        <li><a href="#">Pages</a>
                            <ul>

                                <li><a href="about.html">About Us</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="full_width.html">Full Width</a></li>
                                <li><a href="sidebar_right.html">Sidebar Right</a></li>
                                <li><a href="sidebar_left.html">Sidebar Left</a></li>
                                <li><a href="#">Child Menu</a>
                                    <ul>
                                        <li><a href="#">Level 3 Menu 1</a></li>
                                        <li><a href="#">Level 3 Menu 2</a></li>
                                    </ul>

                                </li>


                            </ul>
                        </li>
                        <li><a href="#" class="active">Special Pages</a>
                            <ul>
                                
                                <li><a href="markeeting.html">Markeeting Page</a></li>
                                <li><a href="features.html" class="active">Features Page</a></li>
                                <li><a href="pricing_tables.html">Pricing Tables</a></li>


                            </ul>
                        </li>
                        <li><a href="shortcodes.html">Shortcodes</a></li>

                        <li><a href="gallery.html">Gallery</a></li><li><a href="#">Portfolio</a>
                            <ul>
                                <li><a href="portfolio_2.html">2 Columns</a></li>
                                <li><a href="portfolio_3.html">3 Columns</a></li>
                                <li><a href="portfolio_4.html">4 Columns</a></li>
                                <li><a href="single_project.html">Single Project</a></li>
                            </ul>
                        </li>

                        <li><a href="blog.html">Blog</a>
                            <ul>
                                <li><a href="blog_post.html">Single Post</a></li>

                            </ul></li>
                        <li><a href="contact.html">Contact</a></li>

                    </ul>

                </div> 
                <div class="nav-shadow"></div>
                <div class="clear"></div>

            </div>
            <!-- Navigation / End -->


            <!-- Content -->


<div class="row-fluid">
    
   <div id="page-title">
                    <h2>Big Features</h2>

                </div>
</div>



<div class="row-fluid">

	
      <div class="featurette">
        <img class="featurette-image pull-right" src="images/browser-icon-chrome.png">
        <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr />

      <div class="featurette">
        <img class="featurette-image pull-left" src="images/browser-icon-firefox.png">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr />

      <div class="featurette">
        <img class="featurette-image pull-right" src="images/browser-icon-safari.png">
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr />

      <!-- /END THE FEATURETTES -->
	
</div>


<!-- 960 Container End -->


</div>
<!-- Wrapper / End -->


<!-- Footer
 -->

<!-- Footer Start -->
<div id="footer" class="container-fluid paddingbottom" >
  
	
	<div class="row-fluid">
	
           	<!-- About -->
		<div class="span3">
			<div class="footer-headline"><h4>About Us</h4></div>
			<p>Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit. Aenean nisl orci, condimentum.</p>
			<img src="images/logo.png" class="client-logo">
		</div>
		
		<!-- Useful Links -->
		<div class="span3">
			<div class="footer-headline"><h4>Subscribe</h4></div>
						<p>Keep updated with our news</p><p>Your email is safe with us!</p>
<div class="input-append">
  <input  id="appendedInputButton"  type="text" class="span7" placeholder="Enter Email Address">
  <button class="btn" type="button">Subscribe!</button>
</div>
                     
		</div>
		
		<!-- Photo Stream -->
		<div class="span3">
			<div class="footer-headline"><h4>Photo Stream</h4></div>
			<div class="flickr-widget">
				<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=26662207@N00"></script>
				<div class="clear"></div>
			</div>
		</div>
		
		<!-- Latest Tweets -->
		<div class="span3">
			<div class="footer-headline"><h4>Latest Tweets</h4></div>
			<ul id="twitter"></ul>
				<script type="text/javascript">
					jQuery(document).ready(function($){
					$.getJSON('http://api.twitter.com/1/statuses/user_timeline/wrapbootstrap.json?count=2&amp;callback=?', function(tweets){
					$("#twitter").html(tz_format_twitter(tweets));
					}); });
				</script>
			<div class="clear"></div>
		</div>

		<!-- Footer / Bottom -->
		

	</div>
	
    </div>
<div id="footer" class="container-fluid" style="background: #111;">
    <div class="row-fluid">
                    <div class="span12">
			<div id="footer-bottom">
				© Copyright 2012 by <a href="#">akmalz</a>. All rights reserved.
                                   
				<div id="scroll-top-top"><a href="#" title="Go to Top"></a></div>
			</div>
                </div>
		</div>
    
</div>

<!-- Footer / End -->

</body>

</html>