@(f: play.data.Form[_])

@import helper._
@import helper.twitterBootstrap._

             @inputPassword(
                f("password"),
                '_label -> "",
                'placeholder -> Messages("playauthenticate.login.password.placeholder"),
                '_showConstraints -> false,
                'class -> "input-xlarge"
             )
             
             @inputPassword(
                f("repeatPassword"),
                '_label -> "",
                'placeholder -> Messages("playauthenticate.login.password.repeat"),
                '_showConstraints -> false,
                '_error -> f.error("password"),
                'class -> "input-xlarge"
             )