@(title: String, tagList: List[models.product.FileTag])

@main(title, models.GlobalEnum.SiteNavigationOption.none) {

	@if(tagList.size() == 0) {
		<h3>There are no tags in the system.</h3>
	} else {
	
		<!--[if lt IE 9]><script type="text/javascript" src="@routes.Assets.at("tagcanvas/excanvas.js")"></script><![endif]-->
		<script src="@routes.Assets.at("tagcanvas/jquery.tagcanvas.min.js")" type="text/javascript"></script>
		
		<div id="myCanvasContainer">
			<canvas width="900" height="600" id="myCanvas">
				<p>Anything in here will be replaced on browsers that support the canvas element</p>
				
				<ul>
					@for(tag <- tagList) {
						<li><a style="font-size: @{tag.tagTextSize}pt" href="@{controllers.routes.FileMgmt.displayTagInfo(tag.fileTagId)}">@tag.tagName</a></li>
		    		}
				</ul>
				
			</canvas>
		</div>
		
		<script type="text/javascript">
			window.onload = function() {
				TagCanvas.textFont = 'Impact,"Arial Black",sans-serif';
				TagCanvas.textColour = '#00f';
				TagCanvas.textHeight = 25;
				TagCanvas.outlineColour = '#f60';
				TagCanvas.outlineThickness = 5;
				TagCanvas.outlineOffset = 1;
				TagCanvas.outlineMethod = 'block';
				TagCanvas.maxSpeed = 0.06;
				TagCanvas.minBrightness = 0.1;
				TagCanvas.depth = 0.95;
				TagCanvas.pulsateTo = 0.2;
				TagCanvas.pulsateTime = 0.75;
				TagCanvas.decel = 0.9;
				TagCanvas.reverse = true;
				TagCanvas.hideTags = false;
				TagCanvas.shadow = '#ccf';
				TagCanvas.shadowBlur = 3;
				TagCanvas.wheelZoom = false;
				TagCanvas.fadeIn = 800;
				
				try {
					TagCanvas.Start('myCanvas', null, {
						textFont: null,
						textColour : null,
						weight: true
					});
				} catch(e) {
					// something went wrong, hide the canvas container
					document.getElementById('myCanvasContainer').style.display = 'none';
				}
			};
		</script>
	}
}
