@(title: String, userFile: models.product.UserFile)

@main(title, models.GlobalEnum.SiteNavigationOption.none) {

<div class="row-fluid">
	<div class="span4">

		<table class="table table-striped table-bordered table-hover table-condensed">
		
		<tr>
			<th>Tag Id</th>
			<th>Tag Name</th>
			<th>Rank</th>
		</tr>
		
		@for(tag <- userFile.tags) {
			<tr>
				<td>@tag.fileTagId</td>
				<td>@tag.tagName</td>
				<td>@tag.tagRank</td>
			</tr>
		}		
		</table>
	</div>
	
	<div class="span8"></div>		
</div>
		
}