@(title: String, tagList: List[models.product.FileTag])

@main(title, models.GlobalEnum.SiteNavigationOption.none) {

	@if(tagList.size() == 0) {
		<h3>There are no tags in the system.</h3>
	} else {
		
		<script src="@routes.Assets.at("d3-cloud-1.0.4/lib/d3/d3.js")"></script>
		<script src="@routes.Assets.at("d3-cloud-1.0.4/d3.layout.cloud.js")"></script>
		
		<script>
			var fill = d3.scale.category20();
	
			d3.layout.cloud()
				.size([900, 600])
				.timeInterval(10)
				.padding(5)
				.rotate(0)
				.font("Impact")
				.fontSize(function(d) { return d.size; })
				.on("end", draw)
				.words([
					@for(tag <- tagList) {
						{text: "@tag.tagName", size: @tag.tagTextSize},
		    		}
				])
				.start();
	
			function draw(words) {
				d3.select("body").append("svg")
					.attr("width", 900)
					.attr("height", 600)
					.append("g")
					.attr("transform", "translate(500,310)")
					.selectAll("text")
					.data(words)
					.enter().append("text")
					.style("font-size", function(d) { return d.size + "px"; })
					.style("font-family", "Impact")
					.style("fill", function(d, i) { return fill(i); })
					.attr("text-anchor", "middle")
					.attr("transform", function(d) {
						return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
					})
					.text(function(d) { return d.text; });
			}
			
		</script>
	
	}
}
